* {
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: royalblue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 30px;
}

.logo {
  margin: 10px;
  border-radius: 10px;
}

header nav a {
  color: white;
}

body {
  background-image: url(../); background-repeat: no-repeat; background-size: cover;
  background-color: #009944
  margin: 0px;

}

.carrusel {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 10px;
  }

  .imagenes {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .imagenes img {
    width: 100%;
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }


