a {
    text-align: justify;

}

h1 {
  text-align: center;
}

body {
  background-color: #009944
  background-image; 
}
body {
  background-image: url(../); background-repeat: no-repeat; background-size: cover;
}

.carrusel {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 10px;
  }

  .imagenes {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .imagenes img {
    width: 100%;
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .anterior { left: 10px; }
  .siguiente { right: 10px; }
